{% extends "main/base.html" %}

{% block title %}Главная страница{% endblock title %}

{% block body %}
<!-- Основное содержимое страницы -->
<div class="container mt-5 pb-5"> <!-- Убран класс mb-5 и добавлен класс pb-5 для создания отступа снизу -->
  <h2>Новости проекта:</h2>
  <br>
  {% if posts|length > 0 %}
    {% for post in posts %}
      <div class="card bg-dark text-white mb-3">
        {% if post.img %}
        <img src="{{ post.img.url }}" class="card-img-top" alt="Изображение">
        {% endif %}
        <div class="card-body">
          <h1 class="card-title">{{ post.title }}</h1>
          <pre class="card-text" style="white-space:pre-wrap;font-family:Calibri;font-size:112%"><p class="card-text">{{ post.text }}</p></pre>
        </div>
        <div class="card-footer text-muted">
          {{ post.date }}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="text-center text-white mb-3">Новостей пока нет!</p>
  {% endif %}
</div>
{% endblock body %}
