{% extends "main/base.html" %}

{% block title %}Авторизация{% endblock title %}

{% block body %}
<div class="container mt-5 mx-auto"> <!-- Добавлен класс mx-auto для центрирования -->
  <h2>Авторизация</h2>
  <form action="{% url "users:login" %}" method="post">
    {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
        {{ form.username }}
      </div>
      <br>
      <div class="form-group">
        <label for="{{ form.password.id_for_label }}">Пароль:</label>
        {{ form.password }}
      </div>
      <br>
    <button type="submit" class="btn btn-secondary">Войти</button>
  </form>
</div>
{% endblock body %}
