{% extends "users/base.html" %}
{% load static %}

{% block title %}Профиль пользователя{% endblock title %}

{% block body %}
<style>
  .card-img-top {
    width: 100%; /* Ширина изображения */
    height: 100%; /* Высота изображения */
    object-fit: cover; /* Обрезка изображения до размеров контейнера */
    object-position: center; /* Позиция изображения по центру контейнера */
  }
  .btn-edit-profile {
    background-color: #343a40; /* Цвет кнопки */
    width: 100%; /* Ширина кнопки */
    border-radius: 0; /* Удаление скругления углов */
  }
  
  .btn-edit-profile:hover {
    background-color: #495057; /* Цвет кнопки при наведении */
  }    
</style>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-dark text-white mb-4">
        <div class="row no-gutters">
          <div class="col-md-4">
            {% if user.img and user.img.url %}
              <img src="{{ user.img.url }}" class="card-img-top" alt="Аватар пользователя">
            {% else %}
              <img src="{% static "unknown_user.jpg" %}" class="card-img-top" alt="Аватар пользователя">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
              <p class="card-text">Имя пользователя: {{ user.username }}</p>
              <p class="card-text">Email: {{ user.email }}</p>
              <div class="row mt-3">
              <div class="col-md-12 text-right">
                <a href="{% url 'users:profile_edit' %}" class="btn btn-secondary btn-edit-profile">Редактировать</a>
                <br>
                <br>
                <a href="{% url 'users:logout' %}" class="btn btn-secondary btn-edit-profile">Выйти</a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
